<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Listing Authorizers</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Uid</th>
          <th>Name</th>
          <th>Team</th>
          <th>RequestId</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="authorizer : ${authorizers}">
          <td th:text="${authorizer.id}"></td>
          <td th:text="${authorizer.uid}"></td>
          <td th:text="${authorizer.name}"></td>
          <td th:text="${authorizer.team}"></td>
          <td th:text="${authorizer.getRequestIdToString()}"></td>
          <td><a th:href="@{/authorizers-test/{id}(id=${authorizer.id})}">Show</a></td>
          <td><a th:href="@{/authorizers-test/{id}/delete(id=${authorizer.id})}">Destroy</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
