<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Show Authorizer</h1>
    <div th:inline="text">ID: [[${authorizer.id}]]</div>
    <div th:inline="text">Uid: [[${authorizer.uid}]]</div>
    <div th:inline="text">Name: [[${authorizer.name}]]</div>
    <div th:inline="text">Team: [[${authorizer.team}]]</div>
    <div th:inline="text">Request: [[${authorizer.getRequestIdToString()}]]</div>
    <a href="/authorizers-test">Back</a>
    <a th:href="@{/authorizers-test/{id}/delete(id=${authorizer.id})}">Destroy</a>
  </body>
</html>
