<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Edit Category</h1>
    <form th:action="@{/categorys-test/{id}/update(id=${category.id})}" method="post">
      <p>
        <label>Name:</label>
        <input type="text" name="name" th:value="${category.name}" />
      </p>
      <p>
        <label>Code:</label>
        <input type="text" name="code" th:value="${category.code}" />
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/categorys-test">Back</a>
  </body>
</html>
