<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Show Category</h1>
    <div th:inline="text">ID: [[${category.id}]]</div>
    <div th:inline="text">Name: [[${category.name}]]</div>
    <div th:inline="text">Code: [[${category.code}]]</div>
    <a href="/categories-test">Back</a>
    <a th:href="@{/categories-test/{id}/edit(id=${category.id})}">Edit</a>
    <a th:href="@{/categories-test/{id}/delete(id=${category.id})}">Destroy</a>
  </body>
</html>
