<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Edit User</h1>
    <form th:action="@{/users-test/{id}/update(id=${user.id})}" method="post">
      <p>
        <label>Uid:</label>
        <input type="text" name="uid" th:value="${user.uid}" />
      </p>
      <p>
        <label>Name:</label>
        <input type="text" name="name" th:value="${user.name}" />
      </p>
      <p>
        <label>Team:</label>
        <input type="text" name="team" th:value="${user.team}" />
      </p>
      <p>
        <label>JobLevel:</label>
        <select name="jobLevel">
          <option value="0" th:selected="${user.jobLevel} == 0">0</option>
          <option value="1" th:selected="${user.jobLevel} == 1">1</option>
          <option value="2" th:selected="${user.jobLevel} == 2">2</option>
          <option value="3" th:selected="${user.jobLevel} == 3">3</option>
          <option value="4" th:selected="${user.jobLevel} == 4">4</option>
        </select>
      </p>
      <p>
        <label>Admin:</label>
        <select name="admin">
          <option value="true" th:selected="${user.admin}">True</option>
          <option value="false" th:selected="!${user.admin}">False</option>
        </select>
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/users-test">Back</a>
  </body>
</html>
