<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Listing Users</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Uid</th>
          <th>Name</th>
          <th>Team</th>
          <th>JobLevel</th>
          <th>Admin</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.uid}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.team}"></td>
          <td th:text="${user.jobLevel}"></td>
          <td th:text="${user.admin}"></td>
          <td><a th:href="@{/users-test/{id}/edit(id=${user.id})}">Edit</a></td>
          <td><a th:href="@{/users-test/{id}(id=${user.id})}">Show</a></td>
          <td><a th:href="@{/users-test/{id}/delete(id=${user.id})}">Destroy</a></td>
        </tr>
      </tbody>
    </table>
    <a href="/users-test/new">New</a>
  </body>
</html>
