<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>New User</h1>
    <form action="/users-test" method="post">
      <p>
        <label>Uid:</label>
        <input type="text" name="uid" />
      </p>
      <p>
        <label>Name:</label>
        <input type="text" name="name" />
      </p>
      <p>
        <label>Team:</label>
        <input type="text" name="team" />
      </p>
      <p>
        <label>JobLevel:</label>
        <select name="jobLevel">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </p>
      <p>
        <label>Admin:</label>
        <select name="admin">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/users-test">Back</a>
  </body>
</html>
