<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Listing Statuses</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="status : ${statuses}">
          <td th:text="${status.id}"></td>
          <td th:text="${status.code}"></td>
          <td th:text="${status.name}"></td>
          <td><a th:href="@{/statuses-test/{id}/edit(id=${status.id})}">Edit</a></td>
          <td><a th:href="@{/statuses-test/{id}(id=${status.id})}">Show</a></td>
          <td><a th:href="@{/statuses-test/{id}/delete(id=${status.id})}">Destroy</a></td>
        </tr>
      </tbody>
    </table>
    <a href="/statuses-test/new">New</a>
  </body>
</html>
