<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>New Status</h1>
    <form action="/statuses-dev" method="post">
      <p>
        <label>Code:</label>
        <input type="number" name="code" />
      </p>
      <p>
        <label>Name:</label>
        <input type="text" name="name" />
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/statuses-dev">Back</a>
  </body>
</html>
