<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Show Status</h1>
    <div th:inline="text">ID: [[${status.id}]]</div>
    <div th:inline="text">Code: [[${status.code}]]</div>
    <div th:inline="text">Name: [[${status.name}]]</div>
    <a href="/statuses-test">Back</a>
    <a th:href="@{/statuses-test/{id}/edit(id=${status.id})}">Edit</a>
    <a th:href="@{/statuses-test/{id}/delete(id=${status.id})}">Destroy</a>
  </body>
</html>
