<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Listing Applicants</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Uid</th>
          <th>Name</th>
          <th>Team</th>
          <th>RequestId</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="applicant : ${applicants}">
          <td th:text="${applicant.id}"></td>
          <td th:text="${applicant.uid}"></td>
          <td th:text="${applicant.name}"></td>
          <td th:text="${applicant.team}"></td>
          <td th:text="${applicant.getRequestIdToString()}"></td>
          <td><a th:href="@{/applicants-test/{id}(id=${applicant.id})}">Show</a></td>
          <td><a th:href="@{/applicants-test/{id}/delete(id=${applicant.id})}">Destroy</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
