<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Show Applicant</h1>
    <div th:inline="text">ID: [[${applicant.id}]]</div>
    <div th:inline="text">Uid: [[${applicant.uid}]]</div>
    <div th:inline="text">Name: [[${applicant.name}]]</div>
    <div th:inline="text">Team: [[${applicant.team}]]</div>
    <div th:inline="text">Request: [[${applicant.getRequestIdToString()}]]</div>
    <a href="/applicants-test">Back</a>
    <a th:href="@{/applicants-test/{id}/delete(id=${applicant.id})}">Destroy</a>
  </body>
</html>
