<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>springboot-sample</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>New Request</h1>
    <form action="/requests-dev" method="post">
      <p>
        <label>Title:</label>
        <input type="text" name="title" />
      </p>
      <p>
        <label>Content:</label>
        <textarea name="content"></textarea>
      </p>
      <p>
        <label>Status:</label>
        <select name="status">
          <option th:each="status : ${statuses}" th:value="${status.id}" th:text="${status.name}"></option>
        </select>
      </p>
      <p>
        <label>User:</label>
        <select name="user">
          <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
      </p>
      <button type="submit">Submit</button>
    </form>
    <a href="/requests-dev">Back</a>
  </body>
</html>
